<%include ./partials/header %>

			<div class="body-container">

				<div class="credentials-login">
					<div id="container-login">
					<h4 id="emaillogin">Change Password</h4>
						<form id="login-form" action="/change" method="POST">
							<label for="oldpw" >Old Password - Enter old password here.</label>
							<input class="user-input" id="old-pw" type="password" name="oldpw" placeholder="Old Password" aria-required="true" autofocus></input>

							<label for="newpw">Password</label>
							<input class="password-input" id="password-login" type="password" name="newpw" placeholder="New Password"></input>

							<button type="submit" class="submit" id="sub-login">Submit</button>
						</form>
					</div>
				</div>

				<div id="spacing-login"></div>
			</div> <!-- .body-container -->
		<div class="footer-container">

<%include ./partials/footer %>