<!-- <div class="wrapper"> -->
	<div id="btn-container">
		<a href="/"><button class="seed-btn">Random Images</button></a>
		<a href="/artificial%20intelligence"><button class="seed-btn">A.I.</button></a>
		<a href="/recipes"><button class="seed-btn">Cooking</button></a>
		<a href="/humor"><button class="seed-btn">Humor</button></a>
		<a href="/martial%20arts"><button class="seed-btn">Martial Arts</button></a>
		<a href="/nutrition"><button class="seed-btn">Nutrition</button></a>
		<a href="/pets"><button class="seed-btn">Pets</button></a>
		<a href="/philosophy"><button class="seed-btn">Philosophy</button></a>
		<a href="/photography"><button class="seed-btn">photography</button></a>
		<a href="/programming"><button class="seed-btn">Programming</button></a>
		<a href="/science"><button class="seed-btn">Science</button></a>
		<a href="/sports"><button class="seed-btn">Sports</button></a>
	</div>